################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Laboratorio 1/.vs
/Laboratorio 2/.vs/Laboratorio 2
/Laboratorio 3/.vs/Laboratorio 3
