################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Laboratorio 1/.vs
/Laboratorio 2/.vs/Laboratorio 2
/Laboratorio 3/.vs/Laboratorio 3
/Laboratorio 4/.vs/Laboratorio 4
/Laboratorio 5/.vs/Laboratorio 5
/Laboratorio 6/.vs/Laboratorio 6
/Laboratorio 7/.vs/Laboratorio 7
/Laboratorio 8/.vs/Laboratorio 8
/Laboratorio 10/.vs/Laboratorio 10
/Laboratorio 9/.vs
/Laboratorio 11/.vs/Laboratorio 11
/Laboratorio 12/.vs/Laboratorio 12
/Laboratorio 12/.vs/ProjectEvaluation
/Laboratorio 13/.vs
/Laboratorio 14/.vs/Laboratorio 14
/Laboratorio 14/.vs/ProjectEvaluation
/Laboratorio 15/.vs/Laboratorio 15
/Laboratorio 15/.vs/ProjectEvaluation
/Laboratorio 16/.vs/Laboratorio 16
/Laboratorio 16/Laboratorio 16/.vs
/Laboratorio 17/.vs/Laboratorio 17
