/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Hero section styles */
/*.hero-section {
    min-height: 70vh;*/ /* Altura visible */
    /*width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('https://images.unsplash.com/photo-1578985545062-69928b1d9587?auto=format&fit=crop&w=800&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}*/



/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }

/* Responsive: Hero Section*/
    .hero-section {
        min-height: 40vh;
        padding: 3rem 1rem;
    }
}

